<div class="post-block your-flux">
    <h2 class="scrollable-title">Flux Général</h2>
    {% for ticket in tickets %}
        <div class="ticket-block">
            <p><strong>Id du ticket: {{ ticket.id|linebreaksbr }}</strong></p>
            <h3>Titre du ticket: {{ ticket.title }}</h3>
            <p>Description: {{ ticket.description|linebreaksbr }}</p>
            <p>Createur du ticket: {{ ticket.creator }}</p>
            <img src="{{ ticket.image.url }}" alt="Ticket Image">
            {% if ticket.updated_at > ticket.created_at %}
                <p>Date de mise à jour du ticket: {{ ticket.updated_at }}</p>
            {% else %}
                <p>Date de création du ticket: {{ ticket.created_at }}</p>
            {% endif %}
            {% if ticket.creator == user %}
                <button><a href="{% url 'update_ticket' ticket.pk %}">Modifier la critique</a></button>
                <button><a href="{% url 'delete_ticket' ticket.pk %}">Supprimer le ticket</a></button>
                <button><a href="{% url 'create_review' ticket.id %}">Répondre au ticket</a></button>
            {% endif %}
            {% if ticket.creator != user %}
                <button><a href="{% url 'create_review' ticket.id %}">Répondre au ticket</a></button>
            {% endif %}
            {% for critique in ticket.reviews.all %}
                <div class="critique-block">
                    <h4>Critique</h4>
                    <p><strong>Relation ticket ID: {{ ticket.id }}</strong></p>
                    <p>Titre de la critique: {{ critique.title }}</p>
                    <p>Auteur de la critique: {{ critique.user.username }}</p>
                    <p>Description de la critique: {{ critique.description|linebreaksbr }}</p>
                    <p>Date de création de la critique: {{ critique.created_at }}</p>
                    <p>Score du ticket: {{ critique.get_star_rating }}</p>
                    {% if critique.user == user %}
                        <form method="post" action="{% url 'update_review' critique.pk %}">
                            {% csrf_token %}
                            <button type="submit">Modifier la critique</button>
                        </form>
                        <form method="post" action="{% url 'delete_review' critique.pk %}">
                            {% csrf_token %}
                            <button type="submit">Supprimer la critique</button>
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
