<div class="post-block your-flux">
    <h2 class="scrollable-title">Flux Général</h2>
    {% for ticket in tickets %}
            <div class="ticket-block">
                <h3>Titre du ticket: {{ ticket.title }}</h3>
                <p>Description: {{ ticket.description|linebreaksbr }}</p>
                <p>Createur du ticket: {{ ticket.creator }}</p>
                <img src="{{ ticket.image.url }}" alt="Ticket Image">
                {% if ticket.updated_at > ticket.created_at %}
                    <p>Date de mise à jour du ticket: {{ ticket.updated_at }}</p>
                {% else %}
                    <p>Date de création du ticket: {{ ticket.created_at }}</p>
                {% endif %}
                {% if ticket.creator == user %}
                    <form method="post" action="{% url 'update_ticket' ticket.pk %}">
                        <button type="submit">Modifier la critique</button>
                    </form>
                    <button><a href="{% url 'delete_ticket' ticket.pk %}">Supprimer le ticket</a></button>
                {% endif %}
                {% if ticket.creator != user %}
                    <form method="post" action="{% url 'create_review' ticket.id %}">
                        {% csrf_token %}
                        <!-- Vos champs de formulaire ici -->
                        <button type="submit">Répondre au ticket</button>
                    </form>
                {% endif %}
                {% for critique in ticket.reviews.all %}
                    <div class="critique-block">
                        <h4>Critique</h4>
                        <p>Titre de la critique: {{ critique.title }}</p>
                        <p>Auteur de la critique: {{ critique.user.username }}</p>
                        <p>Description de la critique: {{ critique.description|linebreaksbr }}</p>
                        {% if critique.updated_at > critique.created_at %}
                            <p>Date de mise à jour de la critique: {{ critique.updated_at }}</p>
                        {% else %}
                            <p>Date de création de la critique: {{ critique.created_at }}</p>
                        {% endif %}
                            <p>Score du ticket: {{ critique.get_star_rating }}</p>
                        {% if critique.user == user %}
                            <form method="post" action="{% url 'update_review' critique.pk %}">
                                {% csrf_token %}
                                <button type="submit">Modifier la critique</button>
                            </form>
                            <form method="post" action="{% url 'delete_review' critique.pk %}">
                                {% csrf_token %}
                                <button type="submit">Supprimer la critique</button>
                            </form>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
    {% endfor %}
</div>