{% for post in combined_posts %}
    {% if post.content_type == 'ticket' %}
        <div class="ticket-snippet-container">
            <h3 class="ticket-snippet-title">Ticket : {{ post.title }}</h3>
            <div class="ticket-block">
                <p><strong>Id du ticket:</strong> [{{ post.id }}]</p>
                <p>Auteur du Ticket: [{{ post.creator.username }}]</p>
                <p><strong>Description:</strong> {{ post.description|linebreaksbr }}</p>

                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="Image du ticket">
                {% endif %}

                <p><strong>Date de création:</strong> {{ post.created_at }}</p>

                <!-- Affichage des boutons si l'utilisateur a créé le ticket -->
                <div class="action-buttons">
                    {% if post.creator == user %}
                        <button class="btn-primary"><a href="{% url 'update_ticket' post.pk %}" class="button-link">Modifier le ticket</a></button>
                        <button class="btn-secondary"><a href="{% url 'delete_ticket' post.pk %}" class="button-link">Supprimer le ticket</a></button>
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
        <!-- Affichage de la critique -->
        <div class="review-snippet-container">
            <div class="critique-block">
                <h4 class="review-snippet-title">Critique en réponse au ticket : {{ post.ticket.title }} <strong>De:</strong> {{ post.ticket.creator }}</h4>

                <!-- Informations sur la critique -->
                <p><strong>Auteur de la critique:</strong> {{ post.user.username }}</p>
                <p><strong>Titre de la critique:</strong> {{ post.title }}</p>
                <p><strong>Commentaire:</strong> {{ post.description|linebreaksbr }}</p>

                <div class="ticket-details">
                    <p><strong>Date de création de la critique:</strong> {{ post.created_at }}</p>
                    <p><strong>Note critique:</strong> {{ post.get_star_rating }}</p>
                </div>

                <!-- Détails du ticket associé à la critique -->
                <div class="ticket-details">
                    <p><strong>Titre du ticket:</strong> {{ post.ticket.title }}</p>
                    <p><strong>Auteur du ticket:</strong>{{ post.ticket.creator }}</p>
                    <p><strong>Description du ticket:</strong> {{ post.ticket.description|linebreaksbr }}</p>

                    {% if post.ticket.image %}
                        <img src="{{ post.ticket.image.url }}" alt="Image du ticket" class="ticket-image">
                    {% endif %}
                </div>

                <!-- Affichage des boutons pour le créateur de la critique -->
                {% if post.user == user %}
                <div class="action-buttons">
                    <button class="btn-primary">
                        <a href="{% url 'update_review' post.pk %}" class="button-link">Modifier la critique</a>
                    </button>
                    <button class="btn-secondary">
                        <a href="{% url 'delete_review' post.pk %}" class="button-link">Supprimer la critique</a>
                    </button>
                </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endfor %}