{% extends 'skeleton.html' %}

{% block title %}Créer un article{% endblock %}

{% block content %}
  <div>
    <h1>Créer un nouvel article</h1>
    <form method="post" action="{% url 'create_article' %}" enctype="multipart/form-data">
        {% csrf_token %}

        <h2>Article</h2>
        <label for="{{ form.article.id_for_label }}">Article associé à la critique:</label>
        {{ form.article }}

        <h2>Ticket</h2>
        <p>{{ form.as_p }}</p>

        <button type="submit">Créer l'article</button>
    </form>
  </div>
{% endblock %}