<div class="article-block">
    <h1>Article</h1>
    <p>Titre de l'article: {{ post.title }}</p>
    <p>Description: {{ post.description }}</p>
    <p>Createur de l'article: {{ post.creator }}</p>
    <img src="{{ post.image.url }}" alt="Article Image">
    <p>Date de création: {{ post.created_at }}</p>

    <!-- Afficher les boutons pour modifier et supprimer l'article si l'utilisateur est le créateur -->
    {% if user == post.creator %}
        <a href="{% url 'update_ticket' post.pk %}">Modifier l'article</a>
        <a href="{% url 'delete_ticket' post.pk %}">Supprimer l'article</a>
    {% endif %}

    <!-- Afficher la critique associée à l'article -->
    {% if post.review_set.exists %}
        <div class="critique-block">
            <h2>Critique associée :</h2>
            <p>Titre de la critique: {{ post.review_set.first.title }}</p>
            <p>Auteur de la critique: {{ post.review_set.first.user.username }}</p>
            <p>Description de la critique: {{ post.review_set.first.description }}</p>
            <p>Date de création de la critique: {{ post.review_set.first.created_at }}</p>
            <p>Score du ticket: {{ post.review_set.first.get_star_rating }}</p>
        </div>
    {% endif %}
</div>