{% extends 'skeleton.html' %}

{% block content %}
    <div class="content">
        <button class="btn">Demander une critique</button>
        <a href="{% url 'create_ticket' %}" class="btn">Créer un Ticket</a>
        <div class="post-block">
            {% for post in posts %}
                {% if post.content_type == 'TICKET' %}
                    <h1>Ticket</h1>
                    <p>Titre du ticket: {{ post.title }}</p>
                    <p>Desccription: {{post.description }}</p>
                    <p>Createur du ticket: {{ post.creator }}</p>
                    <img src="{{ post.image.url }}" alt="Ticket Image">
                    <p>{{ post.created_at }}</p>
                {% elif post.content_type == 'CRITIQUE' %}
                    <h1>Critique</h1>
                    <p>Titre de la critique: {{ post.ticket.title }}</p>
                    <p>Auteur de la critique: {{ post.user.username }}</p>
                    <p>Description de la critique: {{ post.ticket.description }}</p>
                    <p>Date de création: {{ post.ticket.created_at }}</p>
                    <p>Score du ticket: {{ post.get_star_rating }}</p>
                {% endif %}
            {% endfor %}
            <h2>Mes Tickets</h2>
                <ul>
                    {% for ticket in user.ticket_set.all %}
                        <li>
                            {{ user.username}} à publié un Ticket:
                            <br>
                            <p>Titre du Ticket: <strong>{{ ticket.title }}</strong></p>
                            <p>Description: {{ ticket.description }}</p>
                            <I>Date de création: {{ ticket.created_at }}</I>
                            <br>
                            <img src="{{ ticket.image.url }}" alt="Ticket Image">
                            <br>
                            <a href="{% url 'update_ticket' ticket.pk %}" class="btn">Modifier</a>
                            <a href="{% url 'delete_ticket' ticket.pk %}" class="btn">Supprimer</a>
                        </li>
                    {% endfor %}
                </ul>
            <h2>Mes Critiques</h2>
                <ul>
                    {% for review in user.review_set.all %}
                        {% with ticket=review.ticket %}
                            <li>
                                <p>------ Détails du Ticket ------</p>
                                <p>Titre du Ticket: <strong>{{ ticket.title }}</strong></p>
                                <p>Auteur du ticket: {{ ticket.creator }}</p>
                                <p>Description du Ticket: {{ ticket.description }}</p>
                                <I>Date de création du Ticket: {{ ticket.created_at }}</I>
                                <br>
                                <img src="{{ ticket.image.url }}" alt="Ticket Image">
                                <br>
                                <p>Créateur de la critique {{ review.user }}</p>
                                <p>Date de création : {{ review.created_at }}</p>
                                <p>Titre de la critique : {{ review.title }}</p>
                                <p>Description de la critique : {{ review.description }}</p>
                                <p>Note de la critique : {{ review.get_star_rating }}</p>
                                <br>
                                <a href="{% url 'update_review' review.pk %}" class="btn">Modifier la critique</a>
                            </li>
                        {% endwith %}
                    {% endfor %}
                </ul>
        </div>
    </div>
{% endblock content %}