{% extends 'skeleton.html' %}

{% block content %}
<div class="post-block">
    <h2>Votre flux</h2>
    <ul>
        {% for post in posts %}
            {% if post.content_type == 'TICKET' %}
                <li>
                    <h1>TICKET</h1>
                    <strong>{{ post.creator }} </strong><I>a publié un Ticket !</I>
                    <br>
                    <I>Titre du Ticket: <strong>{{ post.title }}</strong></I>
                    <br>
                    <I>Date de création: <strong>{{ post.created_at }}</strong></I>
                    <p>Description: <strong>{{ post.description }}</strong></p>
                    <img src="{{ post.image.url }}" alt="Ticket Image">

                    <!-- Afficher les critiques associées à ce ticket -->
            {% elif post.content_type == 'CRITIQUE' %}
                <div class="review-block">
                    <p>Critiques associées à ce ticket:</p>
                    <ul>
                            <li>
                                <p>Critique de {{ post.user.username }}</p>
                                <p>Titre de la critique : {{ post.title }}</p>
                                <p>Description de la critique : {{ post.description }}</p>
                                <p>Date de création: {{ post.created_at }}</p>
                                <p>Note de la critique : {{ post.get_star_rating }}</p>
                                {% if review.user == request.user %}
                                    <a href="{% url 'update_review' review.id %}">Modifier la critique</a>
                                {% endif %}
                            </li>
                    </ul>
                </div>
            {% else %}
                    <p>Aucune critique pour ce ticket.</p>

                    <a href="{% url 'create_review' post.id %}">Créer une critique pour ce ticket</a>
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock content %}



{% extends 'skeleton.html' %}

{% block content %}
<div class="post-block">
    <h2>Votre flux</h2>
    <ul>
        {% for post in posts %}
            {% if post.content_type == 'TICKET' %}
                <h1>Ticket</h1>
                <p>Titre du ticket: {{ post.title }}</p>
                <p>Description: {{ post.description }}</p>
                <p>Createur du ticket: {{ post.creator }}</p>
                <img src="{{ post.image.url }}" alt="Ticket Image">
                <p>{{ post.created_at }}</p>
                <a href="{% url 'create_review' post.ticket.id %}">Créer une critique pour ce ticket</a>
            {% elif post.content_type == 'CRITIQUE' %}
                <h1>Critique</h1>
                <p>Titre du ticket associé: {{ post.ticket.title }}</p>
                <p>Auteur de la critique: {{ post.user.username }}</p>
                <p>Description de la critique: {{ post.description }}</p>
                <p>Date de création de la critique: {{ post.created_at }}</p>
                <p>Score de la critique: {{ post.get_star_rating }}</p>
                <!-- Afficher les détails du ticket associé à la critique -->
                <h2>Détails du ticket associé</h2>
                <p>Titre du ticket: {{ post.ticket.title }}</p>
                <p>Description du ticket: {{ post.ticket.description }}</p>
                <p>Createur du ticket: {{ post.ticket.creator }}</p>
                <img src="{{ post.ticket.image.url }}" alt="Ticket Image">
                <p>{{ post.ticket.created_at }}</p>
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock content %}