{% extends 'skeleton.html' %}

{% block content %}
    <h2>Créer une critique pour le ticket "{{ ticket.title }}"</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <!-- Champ de note sous forme d'étoiles visuelles -->
        <div class="rating-stars">
            {% for i in "12345" %}
                <input type="radio" name="{{ form.rating.name }}" id="star{{ i }}" value="{{ i }}"
                       {% if i == form.rating.value %}checked{% endif %} />
                <label for="star{{ i }}" class="star {% if i <= form.rating.value %}active{% endif %}">&#9733;</label>
            {% endfor %}
        </div>

        <input type="submit" value="Créer la critique">
    </form>
    <br>
        <p>------ Détails du Ticket ------</p>
        <p>Titre du Ticket: <strong>{{ ticket.title }}</strong></p>
        <p>Description du Ticket: {{ ticket.description }}</p>
        <I>Date de création du Ticket: {{ ticket.created_at }}</I>
        <br>
        <img src="{{ ticket.image.url }}" alt="Ticket Image">
        <br>
        <I>Note: {{ ticket.note }} </I>

{% endblock content %}