{% extends 'skeleton.html' %}

{% block title %}Créer une critique{% endblock %}

{% block content %}
    <h2>Créer une critique pour le ticket associé a l'id [{{ ticket.id }}]</h2>
    <h3>Titre du ticket : {{ ticket.title }}</h3>
    <p>Description : {{ ticket.description|linebreaksbr }}</p>
    <p>Créateur du ticket : {{ ticket.creator }}</p>
    <img src="{{ ticket.image.url }}" alt="Image du ticket">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Créer la critique">
    </form>
{% endblock content %}