{% extends 'skeleton.html' %}

    {% block title %}Supprimer une critique{% endblock %}

{% block content %}
    <html>
    <head>
        <title>Confirmation de suppression de la critique</title>
    </head>
    <body>
        <h1>Confirmer la suppression de la critique "{{ object.title }}"</h1>
        <form method="post">
            {% csrf_token %}
            <input type="submit" value="Supprimer">
        </form>
        <a href="{% url 'flux' %}">Annuler</a>
    </body>
    </html>
{% endblock %}