{% extends 'skeleton.html' %}

{% block content %}
        <div class="post-block">
            <h2>Votre flux</h2>
            <ul>
                {% for s_user in utilisateurs_suivis %}
                    {% for ticket in s_user.followed_user.ticket_set.all %}
                        <li>
                            <strong>{{ s_user.followed_user.username }} </strong><I>a publié un Ticket !</I>
                            <br>
                            <I>Titre du Tickket: <strong>{{ ticket.title }}</strong></I>
                            <br>
                                <I>Date de création: <strong>{{ ticket.created_at }}</strong></I>
                                <p>Description: <strong>{{ ticket.description }}</strong></p>
                            <img src="{{ ticket.image.url }}" alt="Ticket Image">
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
{% endblock content %}