{% extends 'skeleton.html' %}

{% block title %}Abonnements{% endblock %}

{% block content %}
    <div class="post-block your-flux">
        <h1 class="scrollable-title">Système d'abonnement</h1>

        <!-- Affichage des messages -->
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="message {{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <form method="POST" action="{% url 'subscribe_user' %}">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Rechercher un utilisateur">
            <button type="submit">Cliquer pour suivre l'utilisateur</button>
        </form>

        <h2>Utilisateurs suivis</h2>
        <ul>
            {% for s_user in utilisateurs_suivis %}
                <li>
                    {{ s_user.followed_user.username }}
                    <form method="post" action="{% url 'unfollow_user' s_user.followed_user.username %}">
                        {% csrf_token %}
                        <button type="submit">Se désabonner</button>
                    </form>
                </li>
            {% endfor %}
        </ul>

        <h2>Utilisateurs abonnés</h2>
        <ul>
            {% for f_user in abonnes %}
                <li>{{ f_user.follower.username }}</li>
            {% endfor %}
        </ul>

        <!-- Bouton retour -->
        <a href="{% url 'posts' %}" class="back-button">Retour à votre flux personnel</a>
    </div>
{% endblock %}