{% extends 'skeleton.html' %}
{% load static %}
{% block title %}Mettre à jour un ticket{% endblock %}

{% block content %}
<div class="post-block your-flux">
    <h2>Modifier le ticket [{{ ticket.title }}] et son ID: [{{ ticket.id }}]</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div>
            {{ form.title.label_tag }}
            {{ form.title }}
        </div>

        <div>
            {{ form.description.label_tag }}
            {{ form.description }}
        </div>

        <div>
            {{ form.image.label_tag }}
            {% if ticket.image %}
                <p>Image actuelle :</p>
                <img src="{{ ticket.image.url }}" alt="Image actuelle" style="max-width: 200px; max-height: 200px;">
                <p>Remplacer l'image :</p>
            {% endif %}
            <input type="file" name="image">
        </div>

        <button type="submit">Mettre à jour le ticket</button>
    </form>
</div>
{% endblock %}