<!DOCTYPE html>
<html>
{% load static %}
<head>
    <!-- Test html django -->
    <title>{% block title %}LiteReview{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'skeleton/skeleton.css' %}">
</head>
<body>
    <h1 class="title">LiteReview</h1>

    <div class="container">
        <div class="block">
            <h2 class="block-title">Inscrivez-vous maintenant</h2>
            <p>Texte et contenu du premier bloc</p>
            <a href="/register" class="register-button">S'inscrire</a>
        </div>
        <div class="block">
            <form class="login-form" action="" method="POST"></form>
            <h2 class="block-title">Connectez-vous</h2>
            <form class="login-form">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" id="username" name="username">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password">
                <button type="submit" class="login-button">Se connecter</button>
            </form>
        </div>
    </div>
    <script>
        {% if not user.is_authenticated %}
            window.location.replace("{% url 'register' %}");
        {% endif %}
    </script>
</body>
</html>

