<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>{% block title %} LiteReview {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'skeleton/skeleton.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
          integrity="sha512-xxxxx" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{% static 'flux/flux.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'review/review.css' %}">
</head>
<body>
    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'flux' %}">Flux</a></li>
                <li><a href="{% url 'posts' %}">Posts</a></li>
                <li><a href="{% url 'flux_utilisateurs' %}">Abonnements</a></li>
                <li><a href="{% url 'logout' %}">Se déconnecter</a></li>
            {% endif %}
            {% if request.user.is_superuser %}
                <li><a href="{% url 'admin:index' %}" class="btn">Espace admin</a></li>
            {% endif %}
            {% if user.is_authenticated %}
                <li>
                    <span class="username connected">
                        Utilisateur connecté: {{ user.username }}
                    </span>
                    <span class="status-dot"></span>
                </li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}
    {% endblock content %}
</body>
</html>