.btn-create {
  background-color: #28a745;
  color: #fff;
}

.post-block {
  /*
  Styles pour le bloc de texte posté par les utilisateurs
  */
}

.connected::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
  margin-left: 5px;
}

/* Styling pour le bloc principal de contenu */
.post-block {
    max-width: 100%; /* Largeur maximale */
    width: 1000px; /* Largeur initiale */
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(to bottom, #f4f4f4, rgba(244, 244, 244, 0)); /* Dégradé du haut vers le bas */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styling pour le titre "Votre flux" */
.scrollable-title {
    font-size: 24px;
    font-weight: bold;
    padding: 5px 0; /* Ajustez le padding vertical pour agrandir la hauteur */
    text-align: center;
}

/* Styling pour le contenu scrollable */
.scrollable-content {
    max-height: 100%; /* Hauteur maximale */
    height: 550px; /* Hauteur initiale */
    overflow-y: auto; /* Ajoute une barre de défilement verticale si nécessaire */
}

/* Masque la barre de défilement (Chrome, Safari) */
.scrollable-content::-webkit-scrollbar {
    display: none;
}

/* Styling pour les blocs de ticket */
.ticket-block {
    background-color: #f0f0f0; /* Couleur de fond pour les blocs de ticket */
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 2.5);
}

/* Styling pour les blocs de critique */
.critique-block {
    background-color: #f9f9f9;
    border-left: 4px solid #b0bec5; /* Bordure à gauche pour les blocs de critique */
    padding: 10px;
    margin-left: 20px; /* Espacement par rapport aux blocs de ticket */
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 2.5);
}

/* Styling pour les détails du ticket associé */
.ticket-details {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}