/* Styling pour le conteneur du titre et des boutons */
.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.text-right {
    text-align: right;
}

/* Styling pour le bloc principal "post-block" */
.your-flux {
    background-color: #f4f4f4; /* Couleur de fond du bloc principal */
}

/* Styling pour le lien "Créer un Ticket" */
.btn-create-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

/* Styling pour le bouton "Créer un ticket" */
.btn-create {
    background-color: #f4f4f4; /* Couleur de fond du bouton, correspond à celle du bloc principal */
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn-create:hover {
    background-color: #ddd; /* Couleur légèrement plus foncée au survol */
}

/* Styling pour les boutons dans le conteneur */
.btn-container {
    display: flex;
    gap: 10px;
}

/* Styling pour le bloc principal de contenu */
.post-block {
    max-width: 100%;
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(to bottom, #f4f4f4, rgba(244, 244, 244, 0));
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.connected::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
  margin-left: 5px;
}

/* Styling pour le bloc principal de contenu */
.post-block {
    max-width: 100%; /* Largeur maximale */
    width: 1000px; /* Largeur initiale */
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(to bottom, #f4f4f4, rgba(244, 244, 244, 0)); /* Dégradé du haut vers le bas */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styling pour le titre "Votre flux" */
.scrollable-title {
    font-size: 24px;
    font-weight: bold;
    padding: 5px 0;
    text-align: center;
    margin-bottom: 10px;
}

/* Styling pour le contenu scrollable */
.scrollable-content {
    max-height: 100%; /* Hauteur maximale */
    height: 550px; /* Hauteur initiale */
    overflow-y: auto; /* Ajoute une barre de défilement verticale si nécessaire */
}

/* Masque la barre de défilement (Chrome, Safari) */
.scrollable-content::-webkit-scrollbar {
    display: none;
}

/* Styling pour les blocs de ticket */
.ticket-block {
    background-color: #eaf4ff;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 100%; /* Limiter la largeur maximale */
}

/* Styling pour les blocs de critique */
.critique-block {
    background-color: #f9f9f9;
    border-left: 4px solid #ffc107;
    padding: 10px;
    margin-left: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    max-width: 100%; /* Limiter la largeur maximale */
}

/* Styling pour les détails du ticket associé */
.ticket-details {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}