<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>Flux - LiteReview</title>
    <link rel="stylesheet" type="text/css" href="{% static 'flux/flux.css' %}">
</head>
<body>
    <header>
        <h1 class="title">LiteReview</h1>
        <nav>
            <ul>
                <li><a href="#">Flux</a></li>
                <li><a href="#">Posts</a></li>
                <li><a href="{% url 'abonnements' %}">Abonnements</a></li>
                <a href="{% url 'logout' %}" class="logout-link">Se déconnecter</a>
                {% if user.is_authenticated %}
                    <li>
                        <span class="username {% if user.is_authenticated %} connected{% endif %}">
                        Utilisateur: {{ user.username }}</span><span class="status-dot">

                        </span>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <div class="content">
        <button class="btn">Demander une critique</button>
        <button class="btn">Créer une critique</button>

        <div class="post-block">
            /* Contenu du bloc de text posté par les utilisateur (critiques de livres) */
        </div>

        <button class="btn-create">Créer une critique</button>
    </div>
</body>
</html>