<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>LiteReview</title>
</head>
<body>
    <h1 class="title">LiteReview</h1>

    <div class="container">
        <div class="block">
            <h2 class="block-title">Connectez-vous</h2>
            <form class="login-form" method="POST">
                {% csrf_token %}
                <label for="username">Nom d'utilisateur</label>
                <input type="text" id="username" name="username">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password">
                <button type="submit" class="login-button">Se connecter</button>
            </form>
        </div>
    </div>
</body>
</html>